:root {
  --background: linear-gradient(hsl(225, 100%, 98%) 30%, white 30%);
  --colorMain: hsl(230, 17%, 14%);
  --colorSub: hsl(228, 12%, 44%);
  --cardBG: hsl(227, 47%, 96%);
  --cardBGhover: hsl(227, 28%, 91%);
  --toggle: linear-gradient(
    to right,
    #aeb3cb,
    #84bee5,
    #14cce6,
    #00d7c4,
    #3eda82
  );
  --toggleFill: white;
}

body {
  font-family: Inter, sans-serif;
  background: var(--background);
  min-height: 100vh;
  color: var(--colorMain);
}

.top {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-right {
  display: flex;
  align-items: center;
}

h1 {
  font-size: xx-large;
  font-weight: 700;
}

h3 {
  font-size: x-large;
  color: var(--colorSub);
  font-weight: 700;
  margin: 30px 0;
}

h4 {
  font-weight: 700;
  color: var(--colorSub);
}

.level-box {
  background-color: var(--cardBG);
  margin: 20px;
  border-radius: 5px;
}

.level-box:hover {
  cursor: pointer;
  background-color: var(--cardBGhover);
}

p.media-tag {
  margin: 30px 5px;
  font-weight: 700;
  font-size: 14px;
}

p.big-number {
  font-size: 70px;
  font-weight: 700;
  line-height: 1;
}

p.big-number-text {
  font-weight: 400;
  color: var(--colorSub);
  letter-spacing: 5px;
  margin-bottom: 30px;
}

.fb-border {
  border-top: 5px solid hsl(208, 92%, 53%);
}

.tw-border {
  border-top: 5px solid hsl(203, 89%, 53%);
}

.insta-border {
  border-top: 5px solid hsl(348, 97%, 39%);
}

.u-border {
  border-top: 5px solid hsl(348, 97%, 39%);
}

svg.iconify {
  font-size: 29px;
}

.insta-icon {
  background-image: linear-gradient(
    to right,
    #fdc468,
    #ffa263,
    #ff806c,
    #f9607f,
    #df4996
  );
  color: white;
  border-radius: 5px;
}

.tag-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg.iconify.tw-icon {
  color: hsl(203, 89%, 53%);
}

svg.iconify.fb-icon {
  color: hsl(208, 92%, 53%);
}

svg.iconify.u-icon {
  background-color: hsl(348, 97%, 39%);
  border-radius: 50%;
  color: white;
  padding: 3px;
  font-size: 32px;
}

.change-text {
  font-size: smaller;
}

.up {
  color: hsl(163, 72%, 41%);
}

.down {
  color: hsl(356, 69%, 56%);
}

.up-icon,
.down-icon {
  font-size: initial !important;
}

p.mid-number {
  display: inline-block;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
}

.level-box-sub {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 15px;
}

.sub-top {
  padding-top: 0px !important;
}

p.toggle-back {
  display: inline-block;
  width: 50px;
  height: 20px;
  background-color: black;
  border-radius: 7px;
  padding: 0px 2px;
  background-image: var(--toggle);
}

span#toggle {
  height: 20px;
  width: 20px;
  background-color: var(--toggleFill);
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #80808099;
  position: relative;
  transition: left 0.5s;
  left: 1px;
}

span#toggle:hover {
  cursor: pointer;
}
